

:root {
  --yellow: #ffc600;
  --black: #272727;
}


html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: "Lekton", sans-serif;
  font-weight: 400;
  color: black;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: -1px -1px -1px -1px;
  background-color: white;
  height: 100vh;

  /* background: white; */
}

h1,
li,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 100px 200px 30px minmax(300px, 1fr) minmax(300px, 1fr);
}

.logo {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #142533;
}

#logo {
  height: 300px;
}

.center {
  display: none;
}

.strip {
  background-color: #142533;
  grid-column: 2/4;
  grid-row: 1/2;
}

.title1 {
  display: grid;
  background-color: hsl(0, 0%, 77%, 75%);
  align-content: center;
  justify-items: center;
  opacity: 0.75;
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 10;

  font-size: 30px;
}
.title2 {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  padding-bottom: 90px;
  font-size: 30px;
}

.line {
  display: grid;
  grid-column: 1/4;
  grid-row: 3/4;
  justify-content: center;
  z-index: 15;
}
#rectangle {
  width: auto;
  height: 5px;
  background-color: #f0ce0f;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #f0ce0f;
  z-index: 15;
}

.menu {
  grid-column: 1/2;
  grid-row: 3/5;
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: start;
  justify-items: start;
  background-color: #142533;
  color: white;
  font-weight: 400;
}

#kreski {
  width: 65px;
  padding-top: 10px;
  align-content: start;
  justify-self: start;
}

#kreskizolte {
  width: 65px;
  padding-top: 10px;
  align-content: start;
  justify-self: start;
}

#yellow {
  color: #f0ce0f;
}

.bottom {
  display: grid;
  align-self: center;
  justify-self: start;
}

a {
  display: grid;
  align-self: center;
  justify-self: start;
  text-decoration: none;
  color: white;
}

.image_main {
  grid-column: 2/3;
  grid-row: 2/5;
  background: url(cyrkiel.jpg);
  background-size: cover;
}

.kontakt {
  border-top: 5px solid #f0ce0f;
  background-color: #142533;
  color: white;
  grid-column: 1/2;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  justify-items: start;
  font-size: 28px;
}

.textmain {
  grid-column: 2/3;
  grid-row: 5/6;
  display: grid;
  background-color: hsl(0, 0%, 77%, 75%);
}

.image_aside {
  display: grid;
  grid-column: 3/4;
  grid-row: 5/6;
}

#kask {
  height: 300px;
  width: 100%;
  padding: 10px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
}
h2 {
  font-weight: 400;
  font-size: 50px;
}

h3 {
  font-weight: 700;
  font-size: 50px;
}

h5 {
  font-size: 26px;
  font-weight: 400;
}

li {
  font-size: 14px;
}
.textaside {
  grid-column: 3/4;
  grid-row: 3/5;
}

.zolty {
  color: white;
  text-decoration: underline;
  grid-column-start: 2;
  grid-column-end: 3;
}

i {
  justify-self: end;
  padding-right: 5px;
}

@media (max-width: 799px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 90px 15px 200px 100px auto 300px 90px;
  }

  .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #142533;
    color: white;
  }

  #logo {
    height: 200px;
  }

  .strip {
    display: none;
  }

  .center {
    display: grid;
    align-self: end;
    justify-self: start;
  }

  .menu {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #142533;
    color: white;
    font-weight: 400;
    border-top: 5px solid #f0ce0f;
  }

  .bottom {
    display: grid;
    align-self: center;
    justify-self: center;
  }

  .hidden {
    display: none;
  }

  #kreski {
    display: none;
  }

  #kreskizolte {
    display: none;
  }

  .line {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    z-index: 15;
  }

  #triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f0ce0f;
    grid-column: 2/3;
    z-index: 15;
  }

  #rectangle {
    width: auto;
    height: 5px;
    background-color: #f0ce0f;
  }

  .image_main {
    grid-column: 1/2;
    grid-row: 4/6;
    background: url(cyrkiel.jpg);
    background-size: cover;
  }

  .title1 {
    background: #c4c4c4;
    display: grid;
    align-content: center;
    justify-items: center;
    opacity: 0.75;
    grid-column: 1/2;
    grid-row: 5/6;
    z-index: 10;
    font-size: 20px;
  }

  .title2 {
    display: none;
  }

  .textaside {
    display: none;
  }

  .textmain {
    grid-column: 1/2;
    grid-row: 6/7;
    background-color: #c4c4c4bf;
  }

  .image_aside {
    grid-column: 1/2;
    grid-row: 7/8;
    background-color: #c4c4c4bf;
  }

  .kontakt {
    grid-column: 1/2;
    grid-row: 8/9;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    border-top: 5px solid #f0ce0f;
    background-color: #142533;
    color: white;
    display: grid;
  }

  .zolty {
    display: none;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
  }

  h3 {
    font-weight: 700 bold;
    font-size: 26px;
  }

  h5 {
    font-size: 14px;
    font-weight: 700;
  }

  .image_aside {
    background-image: url(domek2.jpg);
    background-size: cover;
  }
}

@media (min-width: 800px) and (max-width: 1239px) {
  .container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 120px 80px 5px minmax(340px, 1fr) minmax(345px, 1fr);
  }

  .logo {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #142533;
  }

  #logo {
    height: 200px;
  }

  .center {
    display: none;
  }

  .strip {
    background-color: #142533;
    grid-column: 2/4;
    grid-row: 1/2;
  }

  .title1 {
    display: grid;
    background-color: hsl(0, 0%, 77%, 75%);
    align-content: center;
    justify-items: center;
    opacity: 0.75;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 10;

    font-size: 30px;
  }
  .title2 {
    display: none;
  }

  .line {
    display: grid;
    grid-column: 1/4;
    grid-row: 3/4;
    justify-content: center;
    z-index: 15;
  }
  #rectangle {
    width: auto;
    height: 5px;
    background-color: #f0ce0f;
  }

  #triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #f0ce0f;
    z-index: 15;
  }

  .menu {
    grid-column: 1/2;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: start;
    justify-items: start;
    background-color: #142533;
    color: white;
    font-weight: 400;
  }

  #kreski {
    width: 45px;
    padding-top: 10px;
    align-content: start;
    justify-self: start;
  }

  #kreskizolte {
    width: 45px;
    padding-top: 10px;
    align-content: start;
    justify-self: start;
  }

  #yellow {
    color: #f0ce0f;
  }

  .bottom {
    display: grid;
    align-self: center;
    justify-self: start;
  }

  a {
    display: grid;
    align-self: center;
    justify-self: start;
    text-decoration: none;
    color: white;
  }

  .image_main {
    grid-column: 2/3;
    grid-row: 2/5;
    background: url(cyrkiel.jpg);
    background-size: cover;
  }

  .kontakt {
    border-top: 5px solid #f0ce0f;
    background-color: #142533;
    color: white;
    grid-column: 1/2;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    justify-items: start;
    font-size: 28px;
  }

  .textmain {
    grid-column: 2/3;
    grid-row: 5/6;
    display: grid;
    background-color: hsl(0, 0%, 77%, 75%);
  }

  .image_aside {
    display: none;
  }

  #kask {
    height: 300px;
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-weight: 700;
    font-size: 60px;
  }
  h2 {
    font-weight: 400;
    font-size: 60px;
  }

  h3 {
    font-weight: 700;
    font-size: 28px;
  }

  h5 {
    font-size: 21px;
    font-weight: 400;
  }

  li {
    font-size: 15px;
  }
  .textaside {
    display: none;
  }

  .zolty {
    color: white;
    text-decoration: underline;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  i {
    justify-self: end;
    padding-right: 5px;
  }
}

   
